.card-user input {
    width: 100%;
    border: 2px solid rgb(134, 131, 131);
    height: 30px;
    border-radius: 10px;
    outline: none;
    background: transparent;
    padding: 10px;
    color: rgb(1, 1, 1);
  }